img{
  width:22%;
}


body{
 background: #f0f9ff; /* Old browsers */
 background: -moz-linear-gradient(top, #FF0000 100%, #339AFF 47%); /* FF3.6-15 */
 background: -webkit-linear-gradient(top, #CB33FF 100%,#33F7FF 47%); /* Chrome10-25,Safari5.1-6 */
 background: linear-gradient(to bottom, #33FF3D 100%,#FFAF33 47%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f9ff', endColorstr='#a1dbff',GradientType=0 );
 background-repeat:no-repeat;
}


